html, body {
    height: 100%;
	overflow: auto;
    display: flex;
    flex-direction: column;
}

.container {
    display: -webkit-flex; /* Safari */
    display: flex;
    height: 100%;
	overflow: auto;
}

.container-main {
    text-align: center;
    margin: 0 auto;
    max-width: 60%;
    flex: 3;
    display: flex;
    flex-direction: column;
}

.container-footer {
    flex: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 25px 15px;
}

.footer-text {
    text-decoration: none;
    color: #999;
}

.title {
    font-size: 32px;
    display: block;
    margin-bottom: 50px;
    margin-top: 100px;
    text-decoration: none;
    color: black;
}

.nav {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
    display: -webkit-flex; /* Safari */
    display: flex;
}

.nav-item {
    position: center;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #337ab7;
    flex: 1;
}

.nav-now {
    box-shadow: 0px 4px 2px -2px orange,inset 0 -5px 3px -6px orange;
}

input {
    margin: 20px 5%;
    width: 80%;
    outline-style: none;
    padding: 0;
    border: 1px solid #337ab7;
    border-radius: 25px;
    line-height: 35px;
    box-shadow: 0px 4px 2px -2px gray;
}

input[type="button"]:hover {
    cursor: pointer;
}

#inputFile {
    background: url("../img/cloud-download.svg") 10px 11px no-repeat;
    text-indent: 35px;
}

#uploadFile {
    background: url("../img/cloud-upload.svg") 10px 11px no-repeat;
    text-indent: 35px;
}

#secretKey {
    background: url("../img/key.svg") 10px 11px no-repeat;
    width: 35%;
    text-indent: 35px;
}

#remarks {
    background: url("../img/chat-left-dots.svg") 10px 11px no-repeat;
    width: 35%;
    text-indent: 35px;
}

#trident {
    color: white;
    background-color: #337ab7;
}

#trident:disabled {
    background-color: gray;
    background-image: url("../img/NewTux.svg");
    background-size: 31px 37px;
    background-repeat: no-repeat;
    background-position-y: 1px;
    border: 1px solid gray;
    animation: back-scroll-animation 10s infinite linear;
}

@keyframes back-scroll-animation {
    0% {
        background-position-x: left;
    } 
    50% {
        background-position-x: right;
    }
    100% {
        background-position-x: left;
    } 
}

table {
    margin: auto;
    padding: 15px 0;
    width: 80%;
    border-spacing: 0;
}

th {
    line-height: 45px;
    border-top: 2px solid #337ab7;
    border-bottom: 1px solid #337ab7;
}

td {
    line-height: 30px;
    min-width: 40px;
    border-top: 1px solid #337ab7;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

td a {
    text-decoration: none;
    color: #337ab7;
}

.operate-form {
    min-width: 104px;
}

.operate-button {
    margin: 0;
    line-height: 30px;
    width: 32px;
    border-style: none;
    box-shadow: none;
}

.delete-button {
    background: url("../img/trash-fill.svg") 7px 8px no-repeat;
}

.change-key-button {
    background: url("../img/key-fill.svg") 7px 8px no-repeat;
}

.change-remarks-button {
    background: url("../img/chat-left-dots-fill.svg") 7px 8px no-repeat;
}

@keyframes alert-glow {
    0% {
        border-color: rgb(163, 0, 0);
        box-shadow: 0 0 5px rgba(255,0,0,.2), inset 0 0 5px rgba(255,0,0,.1), 0 1px 0 rgb(163, 0, 0);
    }
    100% {
        border-color: rgb(255, 0, 0);
        box-shadow: 0 0 10px rgba(255,0,0,.6), inset 0 0 10px rgba(255,0,0,.4), 0 1px 0 rgb(255, 0, 0);
    }
}

@media screen and (max-width: 1400px) {
    .container-main {
        max-width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .container-main {
        max-width: initial;
    }
    .title {
        font-size: 24px;
    }
}