.container {
  text-align: center;
  padding: 0 20%;
}

.title {
  font-size: 32px;
  display: block;
  margin-bottom: 50px;
  margin-top: 100px;
}

.nav {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 25px;
  display: flex;
}

.nav-item {
  position: center;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #337ab7;
  flex: 1;
}

.nav-now {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #fcc22a;
}

input {
   margin: 20px 5%;
   width: 80%;
   outline-style: none;
   padding: 0;
   border: 1px solid #337ab7;
   border-radius: 25px;
   line-height: 35px;
 }

input[name="inputFile"] {
  background: url("../img/cloud-download.svg") 10px 11px no-repeat;
  text-indent: 35px;
}

input[name="uploadFile"] {
  background: url("../img/cloud-upload.svg") 10px 11px no-repeat;
  text-indent: 35px;
}

input[name="secretKey"] {
  background: url("../img/key.svg") 10px 11px no-repeat;
  width: 35%;
  text-indent: 35px;
}

input[name="remarks"] {
  background: url("../img/chat-left-dots.svg") 10px 11px no-repeat;
  width: 35%;
  text-indent: 35px;
}

input[name="remarks"] {
  background: url("../img/chat-left-dots.svg") 10px 11px no-repeat;
  text-indent: 35px;
}

#gogogo {
  color: white;
  background-color: #337ab7;
}
