html,
body {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.container {
  display: -webkit-flex; /* Safari */
  display: flex;
  height: 100%;
  overflow: auto;
}

.container-main {
  text-align: center;
  margin: 0 auto;
  max-width: 60%;
  flex: 3;
  display: flex;
  flex-direction: column;
}

.container-footer {
  flex: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 25px 15px;
}

.footer-text {
  text-decoration: none;
  color: #bdbdbd;
}

.title {
  margin: 50px auto;
  max-width: 550px;
  min-width: 300px;
}

.nav {
  margin-left: 10%;
  margin-right: 10%;
  display: -webkit-flex;
  display: flex;
}

.nav-item {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #1976d2;
  flex: 1;
  line-height: 25px;
  transition: font-size 0.6s ease-in-out, font-weight 0.6s ease-in-out;
}

.nav-item:hover {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

input,
button {
  margin: 20px 5%;
  width: 80%;
  outline-style: none;
  padding: 0;
  border: 1px solid #1976d2;
  border-radius: 25px;
  line-height: 35px;
  box-shadow: 0px 4px 2px -2px gray;
  transition: font-size 0.6s ease-in-out, font-weight 0.6s ease-in-out,
    transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}

input:focus {
  transform: scale(1.1);
  box-shadow: 0px 6px 4px -4px gray;
}

button:hover {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

#trident:after {
  content: "解析";
}

#inputFile {
  background: url("../resources/cloud-download.svg") 10px 11px no-repeat;
  text-indent: 35px;
}

#parse:target ~ #inputFile {
  display: inline;
}

#parse:target ~ :not(.input-parse) {
  display: none;
}

#parse:target ~ #secretKey {
  width: 35%;
}

#parse:target ~ #trident:after {
  content: "解析";
}

#upload:target ~ #uploadFile {
  display: inline;
}

#upload:target ~ :not(.input-upload) {
  display: none;
}

#upload:target ~ #secretKey {
  width: 35%;
}

#upload:target ~ #trident:after {
  content: "上传";
}

#search:target ~ :not(.input-search) {
  display: none;
}

#search:target ~ #secretKey {
  width: 80%;
}

#search:target ~ #trident:after {
  content: "查询";
}

#uploadFile {
  background: url("../resources/cloud-upload.svg") 10px 11px no-repeat;
  text-indent: 35px;
  display: none;
}

#secretKey {
  background: url("../resources/key.svg") 10px 11px no-repeat;
  width: 35%;
  text-indent: 35px;
}

#remarks {
  background: url("../resources/chat-left-dots.svg") 10px 11px no-repeat;
  width: 35%;
  text-indent: 35px;
}

#trident {
  color: white;
  background-color: #1976d2;
}

#trident:disabled {
  background-color: gray;
  background-image: url("../resources/NewTux.svg");
  background-size: 31px 37px;
  background-repeat: no-repeat;
  background-position-y: 1px;
  border: 1px solid gray;
  transition: background-position-x 0.05s ease-in-out;
}

@keyframes back-scroll-animation {
  0% {
    background-position-x: left;
  }
  50% {
    background-position-x: right;
  }
  100% {
    background-position-x: left;
  }
}

table {
  margin: 10px auto;
  padding: 15px 0px;
  width: 80%;
  border-spacing: 0;
}

th {
  line-height: 45px;
  border-top: 2px solid #1976d2;
  border-bottom: 1px solid #1976d2;
}

td {
  line-height: 30px;
  min-width: 40px;
  border-top: 1px solid #1976d2;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

td a {
  text-decoration: none;
  color: #1976d2;
  cursor: pointer;
}

.operate-button {
  margin: 0;
  line-height: 30px;
  width: 32px;
  height: 30px;
  border-style: none;
  box-shadow: none;
}

.operate-button:hover {
  cursor: pointer;
}

.delete-button {
  background: url("../resources/trash-fill.svg") 7px 8px no-repeat;
}

.change-key-button {
  background: url("../resources/key-fill.svg") 7px 8px no-repeat;
}

.change-remarks-button {
  background: url("../resources/chat-left-dots-fill.svg") 7px 8px no-repeat;
}

.rename-button {
  background: url("../resources/pencil-square.svg") 7px 8px no-repeat;
}

#popup-tips {
  width: 60%;
  height: 50px;
  opacity: 80%;
  border-radius: 10px;
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  align-self: center;
  top: -100px;
  transition: top 0.5s ease-in-out;
}

#popup-tips-text {
  flex: 1;
  text-align: center;
}

@keyframes alert-glow {
  0% {
    border-color: #d32f2f;
    box-shadow: 0 0 2px rgba(211, 47, 47, 0.2),
      inset 0 0 2px rgba(244, 67, 54, 0.1), 0 1px 0 #d32f2f;
  }
  100% {
    border-color: #f44336;
    box-shadow: 0 0 5px rgba(244, 67, 54, 0.6),
      inset 0 0 5px rgba(244, 67, 54, 0.4), 0 1px 0 #f44336;
  }
}

@media screen and (max-width: 1400px) {
  .container-main {
    max-width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .container-main {
    max-width: initial;
  }

  table {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 480px) {
  .container-main {
    max-width: initial;
  }

  table {
    font-size: 0.7em;
  }

  .operate-cell {
    width: 40px;
  }
}
